$smoky-pearl: #f6f6f6;
$soft-peach: #ffbb92;
$soft-peach-a: #ffbc9236;
$vibrant-coral: #ff8e6e;
$deep-lavender: #515070;
$midnight-gray: #333333;
$charcoal-gray: #606060;
$misty-gray: #acacac;
$dusk-blue: #5574a6;
$cool-red: #e60e4b;
